.menu {
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow: visible;
  box-shadow: 0 0 30px #f3f1f1;
  background-color: white;
}

.menu__logo {
  flex: 0 0 auto;
  /* 고정 폭/내용 */
  width: 150px;
}

.menu__logo a {
  display: inline-block;
  font-size: 20px;
  padding: 19px 20px;
}

.menu__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.menu__container .ant-menu-item {
  padding: 0px 5px;
}

.menu__container .ant-menu-submenu-title {
  padding: 10px 20px;
}

.menu__container .ant-menu-item a,
.menu__container .ant-menu-submenu-title a {
  padding: 10px 15px;
}

.menu__container .ant-menu-horizontal {
  border-bottom: none;
}

.menu__container .menu_left {
  flex: 1 1 auto;
  /* 남는 가로공간을 모두 사용 */
  min-width: 0;
  /* 내용이 길어도 줄어들 수 있게 */
  overflow: hidden;
  /* 레이아웃 안전장치(선택) */
}

.menu__container .menu_right {
  flex: 0 0 auto;
  /* 우측 메뉴는 내용만큼만 */
}

.menu__mobile-button {
  margin-left: auto;;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none !important;
  /* use of important to overwrite ant-btn */
  background: #3e91f7;
}

.menu_drawer .ant-drawer-body {
  padding: 0 !important;
}

/* align header of Drawer with header of page */
.menu_drawer .ant-drawer-header {
  padding: 14px 24px !important;
}

@media (max-width: 767px) {
  .menu__mobile-button {
    display: inline-block !important;
  }

  .menu_left,
  .menu_right {
    float: none;
    display: flex;
    align-items: center;
  }

  .menu__logo a {
    margin-left: -20px;
  }

  .menu__container .ant-menu-item,
  .menu__container .ant-menu-submenu-title {
    padding: 1px 20px;
  }

  .menu__logo a {
    padding: 10px 20px;
  }
}